@font-face {
    font-family: 'fuente';
    src: url(../fuentes/ElMessiri-VariableFont_wght.ttf);
}

body {
    font-family: "fuente";
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #161d19;
    color: white;
}

    header {
        width: 100%;
        height: 20%;
    }

        .container-titulo {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
        }

                h1 {
                    
                }

                    .a-titulo {
                        font-size: 3rem;
                        text-decoration: none;
                        color: white;
                        padding: 1rem;
                    }

                    .a-titulo:hover {
                        color: #988181;
                    }

        nav {
            width: 100%;
            height: 30%;
            display: flex;
            background-color: black;
        }

            .ul-menu {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 0px;
            }

                .li-menu {
                    list-style: none;
                }

                    @keyframes animacion-menu {
                        0% {
                            border-radius: 20px;
                        }

                        100% {
                            border-radius: 100%;
                        }
                    }

                    .a-link {
                        font-size: 0.9rem;
                        text-decoration: none;
                        padding: 1rem;
                        color: white;

                    }

                    .a-link:hover {               
                        color: black;
                        background-color: #988181;
                        animation-name: animacion-menu;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                        animation-delay: 0s;
                        animation-fill-mode: forwards;
                        box-shadow: 0px 0px 24px 26px rgba(0,0,0,0.42);
-webkit-box-shadow: 0px 0px 24px 26px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 0px 24px 26px rgba(0,0,0,0.42);
                    }
                    
    main {
        width: 90%;
        height: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .container-experiencia {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
        }

            .container-img-experiencia {
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
            }

                .img-experiencia {
                    width: 100%;
                    height: 80%;
                    border-radius: 50px;
                }

            .container-info-experiencia {
                width: 60%;
                height: 100%;
                padding: 0 2rem 0 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

                .h2-experiencia {
                    text-decoration: underline;
                    margin: 0;
                    font-size: 1.5rem;
                }

                .h2-experiencia:hover {
                    color: #988181;
                }

                .dl-experiencia {
                    margin: 0;
                }

                    .dt-experiencia {
                        font-size: 1.1rem;
                        font-weight: 600;
                    }

                    .dt-experiencia:hover {
                        text-decoration: underline;
                        color: #988181;
                    }

                        .dd-experiencia {
                            font-size: 0.9rem;
                        }

    .container-footer {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: black;
    }
            
        footer {
            
        }
            
            .p-footer {
                font-size: 1rem;
            }



    