@font-face {
    font-family: 'fuente';
    src: url(../fuentes/LeagueSpartan-VariableFont_wght.ttf);
}

body {
    font-family: "fuente";
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
}

    header {
        width: 100%;
        height: 20%;
    }

        .container-titulo {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            background-color: #335384;
        }

                    .a-titulo {
                        font-size: 2.5rem;
                        text-decoration: none;
                        padding: 1rem;
                        color: white;
                    }

                    .a-titulo:hover {
                        color: #6589BF;
                    }

                    .change {
                        display: none;
                    }

                    .icon-menu {
                        display: none!important;
                        font-size: 0.9rem;
                        color: white;
                    }

        nav {
            width: 100%;
            height: 30%;
            display: flex;
            background-color: #6589BF;
        }

            .ul-menu {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 0px;
            }

                .li-menu {
                    list-style: none;
                }

                    @keyframes animacion-menu {
                        0% {
                            border-radius: 20px;
                        }

                        100% {
                            border-radius: 100%;
                        }
                    }

                    .a-link {
                        font-size: 0.9rem;
                        text-decoration: none;
                        padding: 1rem;
                        color: white;

                    }

                    .a-link:hover {               
                        color: white;
                        background-color: #335384;
                        animation-name: animacion-menu;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                        animation-delay: 0s;
                        animation-fill-mode: both;
                        box-shadow: 0px 0px 24px 26px rgba(0,0,0,0.42);
-webkit-box-shadow: 0px 0px 24px 26px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 0px 24px 26px rgba(0,0,0,0.42);
                    }
                    
    main {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

        .container-experiencia {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

            .container-img-experiencia {
                width: 25%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .img-experiencia {
                    width: 12rem;
                    height: 7rem;
                }

            .container-info-experiencia {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            .impar {
                text-align: start;
            }

            .par {
                text-align: end;
            }

                .p-experiencia, .h2-experiencia {
                    margin: 3px 0px 3px 0px;
                    color: #335384;
                }

                .puesto{
                    font-weight: bold;
                }

                .h2-experiencia {
                    margin: 0;
                    font-size: 1rem;
                    color: #335384;
                }

                .h2-experiencia:hover {
                    color: #6589BF;
                }

    .container-footer {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: #335384;
    }
            
            .p-footer {
                font-size: 1rem;
                color: white;
            }

@media (max-width: 914px) {
    header {
        height: 10%;
    }

    nav {
        flex-wrap: wrap;
    }

    .ul-menu {
        display: none;
    }

    .icon-menu {
        display: inline-block!important;
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .change:checked ~ .ul-menu {
        display: inline-block!important;
        position: relative;
        margin: 0;
        width: 100%;
    }

    .li-menu {
        width: 100%;
        text-align: center;
        background-color: grey;
    }

    .a-link {
        font-size: 1.4rem;
        color: black;
        font-weight: 600;
        padding: 0;
    }

    .a-link:hover {
        color: #988181!important;
    }

    .a-titulo {
        font-size: 1.2rem;
    }

    main {
        flex-direction: column;
        height: 85%;
    }

  .container-img-experiencia {
    width: 30%;
  }

  .img-experiencia {
    height: 5rem;
    width: 10rem;
  }

  .container-info-experiencia {
    width: 30%;
    height: 100%;
    padding: 0;
  }

  .p-experiencia {
    margin: 0;
  }

.h2-experiencia {
    font-size: 1rem;
}

    .container-footer {
        height: 5%;
    }

    .p-footer {
        font-size: 0.7rem;
    }
}

@media (min-width:510px) and (max-width: 914px) {
    .a-titulo {
        font-size: 1.7rem;
    }

    .p-footer {
        font-size: 1rem;
    }

    .h2-experiencia {
        font-size: 1.3rem;
    }

    .dt-experiencia {
        font-size: 1rem;
    }

    .dd-experiencia {
        font-size: 0.8rem;
    }
}

@media (max-width: 370px) {
    .container-img-experiencia {
        display: none;
      }

    .container-info-experiencia {
        width: 100%;
        height: 100%;
        padding: 0;
      }
}





    