 @font-face {
                font-family: 'fuente';
                src: url(fuentes/LeagueSpartan-VariableFont_wght.ttf);
            }
            
            body {
                font-family: "fuente";
                width: 100%;
                height: 100vh;
                margin: 0;
                padding: 0;
                background-color: white;
                color: white;
            }
            
                header {
                    width: 100%;
                    height: 20%;
                }
            
                    .container-titulo {
                        width: 100%;
                        height: 70%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 600;
                        background-color: #335384;
                    }
            
                                .a-titulo {
                                    font-size: 2.5rem;
                                    text-decoration: none;
                                    padding: 1rem;
                                    color: white;
                                }
            
                                .a-titulo:hover {
                                    color: #6589BF;
                                }
            
                                .change {
                                    display: none;
                                }

                                .burger-menu {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
            
                                .icon-menu {
                                    display: none!important;
                                    font-size: 0.9rem;
                                    color: white;
                                }
            
                    nav {
                        width: 100%;
                        height: 30%;
                        display: flex;
                        background-color: #6589BF;
                    }
            
                        .ul-menu {
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            padding: 0px;
                        }
            
                            .li-menu {
                                list-style: none;
                            }
            
                                @keyframes animacion-menu {
                                    0% {
                                        border-radius: 20px;
                                    }
            
                                    100% {
                                        border-radius: 100%;
                                    }
                                }
            
                                .a-link {
                                    font-size: 0.9rem;
                                    text-decoration: none;
                                    padding: 1rem;
                                    color: white;
            
                                }
            
                                .a-link:hover {               
                                    color: white;
                                    background-color: #335384;
                                    animation-name: animacion-menu;
                                    animation-duration: 3s;
                                    animation-iteration-count: infinite;
                                    animation-direction: alternate;
                                    animation-delay: 0s;
                                    animation-fill-mode: both;
                                    box-shadow: 0px 0px 24px 26px rgba(0,0,0,0.42);
            -webkit-box-shadow: 0px 0px 24px 26px rgba(0,0,0,0.42);
            -moz-box-shadow: 0px 0px 24px 26px rgba(0,0,0,0.42);
                                }
                                
                main {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                }

                .container-img-perfil {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .img-perfil {
                        width: 9rem;
                        height: 10rem;
                        border-radius: 10px;
                    }

                .container-datos {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                    .ul-contacto {
                        padding: 0;
                        text-align: center;
                    }
    
                        .li-contacto {
                            list-style: none;
                            margin-bottom: 1rem;
                        }
    
                            .a-contacto {
                                text-decoration: none;
                                color: #335384;
                                font-size: 1.2rem;
                            }
    
                                i {
                                    margin-right: 1rem;
                                }
            
                .container-footer {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    background-color: #335384;
                }
                        
                        .p-footer {
                            font-size: 1rem;
                            color: white;
                        }


                        @media (max-width: 914px) {
                        
                            nav {
                                flex-wrap: wrap;
                            }
                        
                            .container-menu {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        
                            .ul-menu {
                                display: none;
                            }
                        
                            .icon-menu {
                                display: inline-block!important;
                                font-size: 1.5rem;
                                margin-left: 1rem;
                            }
                        
                            .change:checked ~ .ul-menu {
                                display: inline-block!important;
                                position: relative;
                                margin: 0;
                                width: 100%;
                            }
                        
                            .li-menu {
                                width: 100%;
                                text-align: center;
                                background-color: grey;
                            }
                        
                            .a-link {
                                font-size: 1.4rem;
                                color: black;
                                font-weight: 600;
                                padding: 0;
                            }
                        
                            .a-link:hover {
                                color: #988181!important;
                            }
                        
                            .a-titulo {
                                font-size: 1.7rem;
                            }
                        
                            main {
                                flex-direction: column;
                            }
                        
                            .p-footer {
                                font-size: 1rem;
                            }
                        }
                        
                        @media (max-width: 510px) {
                            .a-titulo {
                                font-size: 1.3rem;
                            }

                            .li-contacto {
                                margin-bottom: 0.5rem; 
                            }

                            .a-contacto {
                                font-size: 1.1rem;
                            }
                        
                            .p-footer {
                                font-size: 1rem;
                                text-align: center;
                            }
                        }
                        
                        
                                    













































